*{
    padding: 0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background: linear-gradient(rgb(16, 15, 15),rgb(59, 57, 57));
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* THE CIRCLE */
body::after{
    content:'';
    width: 100%;
    height:100%;
    background: rgb(255, 0, 0);
    position: absolute;
    z-index: -1;
    clip-path: circle(35% at right 70%);
    filter: blur(50px);
    animation-name: Move;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-timing-function: ease;
}
.container{
    width:80%;
    height:80%;
    background: rgba(255, 255, 255,0.1);
    border-radius: 30px;
    overflow:hidden;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding:20px 0;
}
nav .logo{
    color:white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    text-decoration: none;
}
nav ul li{
display: inline-block;
margin:0 6px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:15px;
    font-weight: 500px;
    transition: 0.2s;
}

nav ul li a:hover{
    color: red;
    font-size:20px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width:80%;
    margin:auto;
}
.content .text{
    color:white;
    width: 40%;
}
.content .text h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing: 2px;
}
.content .text p{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif;
     line-height: 20px;
     letter-spacing: 1px;
}


/* The Image  */
.content .image{
    width: 40%;
    /* transform : translatex(120%); */
}
.content .image img{
    width: 400px;
}

@media(min-width: 950px)and (max-width:1080px){
    .content .image img{
       width: 330px;
       
    }
}
@media(max-width: 950px){
    .content{
        flex-direction: column;
        justify-content: center;
    }
    .content .image, .contnet .text{
        width :80%;
    }
    body::After{
        clip-path: circle(50% at bottom)
    }
    .content .image img{
        width:250px;
    }
}
@keyframes Move{
    0%{
        background: rgb(0, 0, 0);
        translate: 100px 90px;
    }
    100%{
        translate: 0px 0px;
        background: red;
    }
}
